html
  head
    title Mi primera página con Express
  body
    - var arreglo = [1,2,3,4,5];
    - for (var i = arreglo.length-1;i>=0;i--)
      p=arreglo[i]
    p.
      Hola haz click en #[a(href='codigofacilito.com') este link ] por favor
